@import 'css/normalize.min.css';

.logo__nav--inicio{
    padding: 1.25rem 0 0 1.5rem; /*em toma al padre más cercano, rem toma al root o body */
    font-size: clamp(1.3rem, 2.9vw, 2rem); /* permite adaptar 3 tamaños de font en el viewport */
    font-weight: bolder;
    color: var(--color-fondo-y-letra-blanco);
    text-shadow: -2px -3px 10px var(--color-fondo-y-letra-negro);
}

/* Inicio Cabecera enseñando */
.cabecera__inicio{
/* .cabecera__inicio{ */
     /* no usar este selector xq daña el maquetado*/ 
    min-height: 100vh;
    /* min-height: calc(100% + 10vh); */
    /* min-height: clamp(95vh, 110vh, 120vh); */
    /* background: #000; */
    /* width: fit-content min(100%, max(500px, 100%)); */
    /* min-width: 100%; */
    /* min-height: clamp(85vh, 98vh, 120vh); */
}

/* Logo en: coloresLogoBotonesObjetos */

.video__cabecera{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.9;
    /* background-size: cover; */
}

.cabecera__titulo--inicio{
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* width: 100%; */
    height: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: -1;
}

.cabecera__titulo--inicio h1{
    position: relative;
    text-align: center;
    text-shadow: 0.2188rem 3.5px #000;
    color: var(--color-letra-amarillo);
    font-size: clamp(2.15rem, 7vw, 6rem);
    margin-top: 190px;
}

.frase__cabecera{    
    padding: 65px 0 0 0;
    text-align: center;
    font-size: clamp(1.2em, 2.5vw, 3em);
    font-weight: bolder;
    color: var(--color-fondo-y-letra-blanco);
    text-shadow: 1px 1px 15px #000;
}   

/* Flechas */
.flechas{
    display: flex;
    margin-top: 10rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background: var(--color-fondo3); */
    height: 16vh; /* distancia de arriba hacia abajo */
}

.flechas__scroll{
    position: relative;
    height: 3em; /* largo del scroll */
    /* margin-top: -300px; */
}

.parte__flecha {
    border: solid var(--color-fondo3);
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 12px; /*ancho de las flechas */
    position: absolute;
    top: 0;
    left: 50%;
    transform: 
        translateX(-50%)
        rotate(45deg);
}

/* me parecece mejor sin esta flecha */
.parte__flecha:nth-child(1){
    animation:
        flecha1 1.5s
        ease-in-out infinite;
}

/* .parte__flecha:nth-child(){
    animation:
    flecha2 1.5s
    ease-in-out infinite;
} */

/* me parecece mejor sin esta flecha */
@keyframes flecha1{
    100%{
        opacity: 0;
        top: 100%;
    }
}

@keyframes flecha2{
    100%{
        opacity: 0;
        top: 50%;
    }
}
/* Fin sección Cabecera Movil */

/* Inicio sección modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 999;
  transition: opacity 0.3s ease;
}
/* fin sección modal */



/* sub seccion de márgenes*/
.margen__arriba--abajo{
    padding: 2rem 0;
}

.columnas__margen--arriba--abajo{
    padding: 2rem 0;
}

.enunciados__margen--arriba--abajo{
    padding: 3rem 0 4rem 0;
}

/* .somos__margen--arriba--abajo{ no poner, pierde magen abajo
    padding: 2rem 1rem 0;
} */

/* Inicio Presentación encuentra: lupa + texto Movil */
.presentacion__contenedor{
    height: 130vh;
    background: var(--color-fondo1) 100%; 
    /* width: 100%; */
    overflow-x: hidden;

    /* } */


/* .presentacion__encuentra{ */
    /* text-align: center; */
     /* no quitar, funcionó para centrar imagen de laptop */
    /* margin: 20px 0; */
    /* width: 100%; */
    /* height: 700px; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: center; */
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    background: linear-gradient(0deg, var(--color-fondo2) 0%, var(--color-fondo1) 20%);
}

/* .presentacion__contenedor{ */
/* .presentacion__encuentra:before{ */
    /* content: '';
    position: absolute;
    width: 80%;
    height: 40vh;
    background-color: #000;
    border-radius: 0 0 50% 50%/0 0 50% 50%;  */
    /* left: 0; */
    /* display: flex; */
    /* justify-content: center; */
    /* bottom: 80px; */
    /* border-radius: 0 0 70% 40% / 0 0 0 100%;  */
    /* background: var(--color-fondo1) 100%;  */
    /* con esta los estremos son redondos;  */
    /* transform: scaleX(1.5); */
     /* ensancha la parte gruesa de la curva */
    /* z-index: -1; */
/* } */

/* .color__0--participa{ */
    /* background: linear-gradient(0deg, var(--color-fondo2) 0%, var(--color-fondo1) 20%); */
    /* background: linear-gradient(0deg, rgba(233, 201, 179, 0.556) 0%, rgba(255,255,255,1) 100%); */
    /* transform: skewY(-5deg); */
    /* line-height: 12rem; */
    /* margin-top: 40px; */
    /* color:#0360CC; */

    /* height: 125vh; */
    /* background: linear-gradient(180deg, var(--color-fondo1) 10%, var(--color-fondo2) 90%); */
    /* transform: skewY(-2deg) scale(1, 1.2); */
/* } */

/* .presentacion__encuentra img{ */
.presentacion__lupa{
    /* width: 50%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* padding: 25% 0 0 0; */
}

.presentacion__lupa img{  
    /* float: left; */
    /* display: flex; */
    /* left: 50%; */
    /* top: 150px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 45%; */
    width: min(350px, calc(30% + 50px)); 
    /* padding: 100px 0 50px 0; */
    /* padding: 70px 0 0 0; */
}

.presentacion__texto{
    padding: 0 5% 0 5%;
}

.presentacion__texto h3{ 
    /* está combinada con texto en estilos.css */
    text-align: center;
    font-size: clamp(2.2rem, 6vw, 6em);
    font-weight: bold;
    /* font-size: 2.1rem; */
    color: #C10000;
    line-height: 1.2;
    /* width: 50%; */
    /* padding-right: 50px; */
    padding: 0 0 90px 0;
}

/* Fin Presentación encuentra: lupa + texto Movil */

/* Inicio 4 columnas Movil */
.columnas{
    /* width: 100%; */
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo2);
}

.columnas__dentro{
    margin: 5em 0 7em 0;
    max-width: 100%;
}

.caja_svg{ /*aqui esta el ajuste, no cambiar*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.caja__columnas{
    flex: 1 1 16rem; /* al disminir 35 permite row de todas */ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    align-self: normal;
    padding: 10px 0 0 0;
}

.svg1, .svg2, .svg3, .svg4{ /*quité width de estas imágenes en html*/
    width: 10em;
    /* margin: 1em auto; */
    margin: 1em auto 2em auto;
}

.ofrecimiento{
    padding: 0.1em 0 2em 0;
    line-height: 3;
    font: 2em 'Roboto', sans-serif;
    font-weight: bolder;
    color:#fff;
    text-align: center;
    width: 90%; 
}
/* Fin 4 columnas Movil */

/* Inicio Citas de Aurelio + Pasteur Movil */
.contiene__citas{
    min-height: 100vh;
    background-image: url(../img/imgEscribe.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.citas{
    text-align: center;
    margin: 60px 0 0 0;
}

.citas .texto__completo{
    color: var(--color-fondo3);
    /* text-shadow: -1px 0 black, 0 1px black, 1px 2px black, 0 -1px black; */
    /* text-shadow: -2px 2px black, 2px -2px black, 2px 2px black, -2px -2px black; */
    text-shadow: -1px 0 10px #000, 0 1px 20px #000, 1px 2px 20px #000, 0 -1px 20px #000;
    padding: 40px 15px;
    /* font-size: 2.4em; */
    font-size: clamp(2.1em, 4vw, 4.5em);
    font-weight: 800; /* no funcionó shorthands uniendo size y weight */
    line-height: 2em;
    letter-spacing: 2px;
}

.citas .autor{
    color: var(--color-fondo2);
    text-shadow: 2px 2px 0 #000;
    padding-bottom: 3em;
    /* font-size: 2.1em; */
    font-size: clamp(1.8em, 5.8vw, 3.2em);
    font-weight: bolder; 
}
/* Fin Citas de Aurelio + Pasteur Movil */


/* Inicio Conceptos / Enunciados base Movil */
.enunciados__contenedor{
    background: var(--color-fondo3);
    /* font-family: 'Poppins', sans-serif; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 130vh;
}

.enunciados__titulo{
    position:relative;
    /* position: relative; */
    /* margin-top: 1.5em; */
    /* margin: 30px auto; */
    /* padding-top: 7rem; */
    /* padding-bottom: 4rem; */
    padding: 7rem 0 0rem 0;
    text-align: center;
    text-shadow: 3.5px 3.5px #000;
    /* font-size: 1.6rem; */
    font-size: clamp(1.6em, 5vw, 4em);
    color: var(--color-letra-amarillo);
    /* height: 10vh; */
    /* padding: auto; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.enunciados__contenedor-cajas{
    /* background: var(--color-fondo3); */
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.enunciados__base{
    display: grid;
    margin: 5rem auto 7rem auto;
    /* width: 114em; */
    /* width: 80vw; */
    width: 90vw;
    grid-gap: 4rem;
    /* grid-gap: 6rem; */
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); hay responsive en @media min-width: 410px */
    /* align-items: start; */
    /* grid-auto-flow: dense; */
}

.enunciados__card{
    background: var(--color-fondo2);
    /* padding: 3rem; */
    /* overflow: hidden; */
    box-shadow: 0 0 15px rgba(0,0,0,0.3), -2px -2px 25px rgba(0,0,0,0.5),  3px 3px 45px rgba(0,0,0,0.1);
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    /* transition: 0.2s; */
    /* background-image: cover; */
    
}

/* .card:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
} */

.card__items{
    display: grid;
}

.card__img{
    /* align-items: center; */
    place-self: center;
    margin-bottom: 20px;
    margin-top: 0.5rem;
    width: 90%;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3), -2px -2px 25px rgba(0,0,0,0.5),  3px 3px 45px rgba(0,0,0,0.1);
}

.card__titulo{
    margin: 40px auto 20px auto;
    text-align: center;
    color: var(--color-fondo-y-letra-blanco);
    text-shadow: 3.5px 3.5px #000;
    /* font-size: 2rem; */
    font-size: clamp(2.35rem, 4vw, 5rem);
    font-weight: 500;
    /* color: #0d0d0d; */
    /* margin-bottom: 1.5rem; */
}

.enunciados__juntos{
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    color: var(--color-fondo-y-letra-blanco);
    font-size: clamp(1.6rem, 2.5vw, 3.4rem);
    font-weight: bolder;
    padding: 0 1rem 0 1rem;
}

.enunciados__juntos span{
    color: var(--color-letra-amarillo);
    text-shadow: 2px 2px #000;
}
/* Fin Conceptos / Enunciados base Movil */
    

/* Inicio Somos profesores Moil */
.somos__caja{
    background: url(../img/imgProfe5.jpg); /* aquí en CSS la img va con ../ */
    background-attachment: fixed;
     /* ojo ver si al quitar fixed de al lado del url en background, va con attachment y no con image*/
    background-image: fixed; 
    background-size: cover;
    /* min-height: clamp(90vmax, 130vh, 190vh); */
    /* aún corregir en caliente */
    /* display: flex; */
    /* align-items: center; */
    /* min-height: 130px;  */
    min-height: 110vh;
    /* display:inline-table; */

/* alínea verticalmente con display: flex y align-items: center; */
    /* display: flex; */
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */

    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center; */

    /* padding: 1rem; */
    /* padding: 5rem 1rem 0 1rem; */
    /* display: grid; */
    /* place-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
    /* display: inline-block; */
    /* place-self: center; */

    /* position: relative; */
    /* padding: 1rem 0 1rem 0; */
    padding: 3em 0 1em 0;
}

.somos__profes{  /* ojo se ensancha al crecer el viewport */
    /* position: absolute;  */
    padding: 0.5rem;
    /* padding: 1rem 0 1rem 0; */
    /* margin: 2% 0; */

    /* top: 40%; */
/* margin-top: -100px; */
    /* left: 20%; */

    display: flex;
    /* align-items: center; */
    justify-content: center;

    /* width: 80%; */
    /* height: 70%; */
    /* padding: 50% auto 15% auto; */

    /* justify-content:space-evenly;
        /* probando pxq se desborda hacia abajo*/
    /* padding: 6rem 1.5rem 3.5vh 1.5rem; */
    /* padding: 2rem 0 0 0; */
    /*ancho de la caja con frase */
    
}

.contenido__profesores{
    border-radius: 30px;
    background-image: linear-gradient(180deg, var(--color-fondo3b) 0%, var(--color-fondo1b) 100%);
        /* background-color: rgba(126, 240, 128, 0.568); */
    /* background-color: var(--color-fondo-y-letra-cuatro); */
    /* box-shadow: 4px 4px 4px 4px rgba(207, 216, 214, 0.863), 1px 1px 1px 1px rgba(79, 93, 105, 0.698); */
    box-shadow: 4px 4px 4px 4px rgba(126, 235, 99, 0.563), 1px 1px 0px 1px rgba(255, 222, 90, 0.571);
    /* text-shadow: 0.1288rem 0.1288rem  #000; */
    text-shadow: 5px 5px 5px #000;
    letter-spacing: 1px;
    line-height: 1.2;
    /* background-color: rgba(255, 221, 90, 0.698); */
    /* box-shadow: 4px 4px 4px 4px rgba(255, 222, 90, 0.863), 1px 1px 1px 1px hsla(48, 100%, 68%, 0.698); */
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-blanco);
    text-align: center;
    /* font-size: 1.6em; */
    font-size: clamp(1.4rem, 4vw, 3.4rem);
    /* font-size: clamp(1.7em, 5.8vw, 3.2em); */
    padding: 0.5em 1em;
    width: 85%;
    /* margin: 1em; */
    /* padding: 0.9rem 0.9rem 0.9rem 0.9rem; */
}

.contenido__profesores span{
    /* text-decoration: underline var(--color-letra-amarillo); */
    /* border-bottom: 3.5px solid var(--color-letra-amarillo); */
    /* background-image: linear-gradient(100deg, var(--color-letra-blanco) 0%,  var(--color-fondo2) 100%); */
    background-image: linear-gradient(100deg, var(--color-fondo2) 0%,  var(--color-fondo2) 25%, var(--color-fondo2) 50%);
    /* background-image: linear-gradient(100deg, var(--color-letra-amarillo) 25%, var(--color-letra-amarillo) 50%); */
    background-repeat: no-repeat;
    background-size: 100% .3em;
    background-position: 0 90%;
    /* color: var(--color-fondo-y-letra-gris); */
    /* text-shadow: 5px 5px 5px #000; */
    /* text-shadow: 0.1288rem 0.1288rem 1px #000; */
    /* text-shadow: 5px 5px 5px var(--color-fondo2); */
}
/* Fin Somos profesores Movil */

/* Inicio Interrogantes de los estudiantes Movil */
.contenedor__interroga--estudiantes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-grow: 1; hace que las cajas ocupen el espacio uniformemente, pero aquì desajusta las cajas*/
    min-height: 100vh;
    background-color: var(--color-fondo1);
    border-top: 6px solid var(--color-fondo2);
    border-bottom: 6px solid var(--color-fondo3);
    transform: skewY(2.5deg) scale(1, 1.1);
        /* ajusta los bordes en esquinas con la caja anterior o posterior */
}
        
.interrogantes__estudiantes{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem)); */
    /* grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); */
    grid-gap: 20px;
    /* padding: 30px; */
    justify-content:space-evenly;
}

.interrogantes__estudiantes .box{
    position: relative;
    margin-top: 90px;
    height: 400px;
    box-shadow: 0 30px 30px rgba(0, 0 , 0 , 0.4);
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    background-color:var(--color-fondo2);
}

.interrogantes__estudiantes .box::before{
    position: absolute;
    content: '';
    top: 99%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--color-fondo3);
    transition: 0.4s;
}

.interrogantes__estudiantes .box:hover::before{
    top: 50%;
}

.interrogantes__estudiantes .box .imgbox{
    width: 100%;
    height: 50%;
}

.interrogantes__estudiantes .box .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interrogantes__estudiantes .box h1{
    font-size: clamp(1.5rem, 2.4vw, 3rem);
    position: relative;
}

/* estos nombrados. interrogante__solo... al agrandar pantalla se desajustan. Por eso tienen @media */
.interrogante__solo--tienes{
    padding: 45px 0 0 0;
}

.interrogante__solo--precisas{
/* vertical-align: middle; */
padding: 45px 0 0 0;
}

.interrogante__solo--quieres{
    padding: 40px 0 0 0;
}

.interrogante__solo--necesitas{
    /* display: inline-block; */
/* vertical-align: middle; */
    margin: 50px 0 0 0; 
    /* background: rgb(95, 45, 45); */
}

.interrogantes__estudiantes .box:hover h1{
    /* color: #fff; */
    color: #000;
}

.interrogantes__skew--1{
    transform: skewY(-2.5deg);
    padding-top: 70px;
}

/* .interrogantes__skew--1 .box{
    transform: skewY(-2.5deg); estaba en -5deg, debí quitarle el 1 (de 1.13) para nivelar textos
    overflow: hidden;
} */
/* Fin Interrogantes de los estudiantes Movil*/

/* Inicio Blog Movil */
.contenedor__blog{
    /* min-height: fit-content; */
        /* estaba en código original */
    min-height: 100vh; /*para aplicar flexbox*/
    /* padding: 30px 0; */
    /* background-color: var(--color-fondo2); */
}

#blog{ 
    /* para facilitar enlace desde otro punto de la página a este punto */
    color: var(--color-fondo2);
}

.disfrutamos__blog{
    /* min-height: 85vh; */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
    
.disfrutamos__blog .izq{
    background: var(--color-fondo2);
    /* width: 50%; para width: 1200px */
    display: inline-block; /*mejora la distancia entre el botón y la últ línea pero es necesario mejoarar lo stamaños de letras y distancia */
    /* width: 50%; */
    /* min-height: fit-content; */
    /* min-height: 100vh; */
    padding: 70px 0 150px 0; /*solo se coloca acá en el lado izq, al derecho no se le coloca */
    /* margin-top: -65px; para tapar desborde izq arriba */
}

.disfrutamos__blog .der{
    padding: 10px 0 0 0;
    background: url(../img/imgProfe6.jpg); /* aquí en CSS la img va con ../ */
    background-size: cover;
    background-position: center;
    /* width: 50%; */
    /* width: 50%; para width: 1200px*/
    min-height: 100vh;
    /* margin-top: 5.5rem; */
}

.disfrutamos__blog .izq .nos{
    /* font-size: 1.5em; */
    font-size: clamp(1.9em, 3vw, 5em);
    /* width: 50%; */
    /* width: 100%; */
    margin: 7rem 0 1.5rem 2rem;
    font-weight: 300;
    color: var(--color-fondo-y-letra-negro);
}

.disfrutamos__blog .izq .resaltaBlog {
    color: var(--color-fondo-y-letra-blanco);
    /* padding: 1rem 0 0 0.7rem; */
    font-size: clamp(2.9em, 3.8vw, 5em);
    /* font-size: 3.8em; */
    font-weight: 600;
    /* width: 75%; */
    margin: 0 0 1.5rem 1.8rem;
    /* font-size: clamp(3.5em, 6vw, 9em); no asume cambios */
    text-shadow: 1.5px 2px #000;
    /* margin: -20px 0 0 0; */
}

.disfrutamos__blog .izq .articulos{
    /* font-size: 2em; */
    font-size: clamp(1.9em, 3.2vw, 5.5em);
    font-weight: bold;
    line-height: 2.5rem;
    /* width: 50%; */
    margin: 1rem 0 1.5rem 2rem;
    color: var(--color-fondo-y-letra-negro);
}

.disfrutamos__blog .izq .articulos-semanal{
    /* font-size: 1.1em; */
    font-size: clamp(1.5em, 2.6vw, 4em);
    font-weight: 500;
    /* left: 22px */
    /* line-height: 1.8rem; */
    /* line-height: 42px; */
    /* width: 80%; */
    margin: 1.5rem 0 2rem 2rem;
    color: var(--color-fondo-y-letra-negro);
}
/* Fin Blog Movil */


/* Inicio Glosario Movil */
.container_glosario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 115vh;
    font-family: 'Roboto', sans-serif;
    background: var(--color-fondo3);
    /* padding-top: 10px; */
}

.partes_glosario{
    position: relative;
}

.partes_glosario .text-circle{ /* círculo negro con texto */
    position: absolute;
    top: 10em;
    left: 3em;
    padding: 1em;
    width: 10.5em;
    height: 10.5em;
    border-radius: 50%;
    background: var(--color-fondo2);
    text-align: center;
    animation: float 4.4s infinite ease-in-out;
}

.partes_glosario .text-circle h6{ /* letras de tienes dudas con... */
    font-size: 1em;
    margin-top: 1.5em; 
    margin-bottom: 0.7em;
    line-height: 20px;
    text-transform: uppercase;
}

.partes_glosario .text-circle a{  /* forma botón entra aquí */
    /* border: 2px var(--color-fondo1) solid; */
    border: 2px var(--color-fondo-y-letra-blanco) solid;
    /* border: 2px var(--color-fondo4) solid; */
    /* color:  var(--color-fondo-y-letra-blanco);  */
    /* color: var(--color-fondo4); */
    color: var(--color-letra-amarillo);
    padding: 0.6em;
    /* font-size: 1em; */
    font-size: clamp(0.85em, 1.2vw, 1.4em);
    text-decoration: none;
    border-radius: 8px;
}

    /* STEP 3     */
    /* Wrap the text into a circle using a radial gradient as the shape-outside' Value */
.container_glosario .text-circle span:before, span:after{ 
    content: "";
    width: 25%;
    height: 100%;
}

.text-circle span:before{ 
    float: left;
    shape-outside: radial-gradient(
        farthest-side at 100%,
        transparent 100%,
        #fff);
}

.text-circle span:after{
    float: right;
    shape-outside: radial-gradient(
        farthest-side at 0%,
        transparent 100%,
        #fff);
}

    /* STEP 4 */
    /* Imagen ppal con círculo */
.partes_glosario .img{
    width: 15.5em;
    height: 15.5em;
    border-radius: 50%;
    background: url(../img/imgGlosario.jpg) no-repeat center; /* aquí en CSS la img va con ../ */
    background-size: cover;
    animation: float 5.5s infinite ease-in-out;
}

    /* STEP 5 */
    /* Circle and ring decoration */
.partes_glosario .circle{
    position: absolute;
    left: -25px;
    width: 65%;
    height: 65%;
    z-index: 0;
    border-radius: 50%;
    animation: float 5s infinite ease-in-out;
    background: var(--color-fondo1);
}

.container_glosario .partes_glosario .ring{
    position: absolute;
    top: -4em;
    right: -1.5px;
    border: 15px var(--color-fondo4) solid;
    width: 65%;
    height: 65%;
    z-index: 0;
    border-radius: 50%;
    animation: float 6s infinite ease-in-out;
}

    /* STEP 6 */
    /* Floating animation */
@keyframes float{
    50% {
        transform: translateY(-1em);
    }
    100% {
        transform: translateY(0);
    }
}

    /* Separa glosario de particpa - hr */
.separador__glosario--index{
    width: 40%;
    /* height: 2px; */
    /* border: 0; */
    border-bottom: 3px solid var(--color-fondo2);
    margin: 0 auto 4rem auto;
}
/* Fin Glosario Movil */


/* Inicio Participa Movil */
.container__participa{
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
    line-height: 3rem;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 2rem ;
    padding-bottom: 1rem;
    /* min-height: 200vh; */
}

/* #colabora__y--dona{
    color:rgba(255,255,255,1)
} */

.color__1-participa{
    /* height: 55vh; */
    /* background: rgb(255,255,255); */
    /* background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(126,235,96,1) 100%); */
    /* background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(126,235,96,1) 100%); */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(126,235,96,1) 100%);
    /* background: var(--color-fondo-y-letra-triple); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdd5a",endColorstr="#7eeb60",GradientType=1); */
}

.card__participa{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    gap: 15px;
}
    
.card{
    /* z-index: -1; */
    position: relative;
    /* width: 200px; */
    width: clamp(280px, 50vw, 600px);
    /* height: 190px; */
    height: clamp(250px, 40vw, 500px);;
    overflow: hidden;
    /* margin: 0 -75px; */
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
    clip-path: polygon(0 20%, 100% 20%, 100% 90%, 67% 90%, 69% 100%, 54% 90%, 0 90%);
}

/* 
no se pude coloar animación por la construcción de la caja

.card:nth-child(1){
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.card{
    transition: animate 2s;
    transition: 0.5s;
}

.card__participa .card img{
    transition: 0.5s;
}

.card__participa:hover .card img{
    transform: scale(1.5);
} */

.participa__preguntas{
    text-align: center;
    line-height: 3rem;
    /* display: flex; */
    /* padding: 70px 0 6px 0; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: var(--color-fondo); */
    /* background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,221,90,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,221,90,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,221,90,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffdd5a",GradientType=1); */
}

.titulo1__participa__somos{
    /* text-align: center; */
    /* font-size: 2.6rem; */
    font-size: clamp(2.6rem, 5.8vw, 6rem);;
    color: var(--color-fondo-y-letra-blanco);
    text-shadow: 2.6px 2.6px #000;
    margin: 0.5rem 0 6rem 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 6rem 0;
}

.te-apetece1, .te-apetece2, .te-apetece3{
    color: var(--overlay1);
    margin: 2rem 1rem 10rem 1rem;
    line-height: 2;
    /* font-size: 1.3em;  */
    font-size: clamp(2rem, 3.4vw, 5rem);;
    font-weight: bolder;
    /* font-family: 'Montserrat', sans-serif; */
}

.hazte-conocer{
    font-size: clamp(2rem, 4.5vw, 4.5rem);;
    /* font-size: 2.3em; */
    color: var(--color-fondo2);
    font-weight: bolder;
    margin: 7rem 0 9.5rem 0;
    /* text-shadow: 2.6px 2.6px var(--color-letra-amarillo); */
}

.te-apetece3 span{
    color: var(--color-fondo4);
    font-weight: bolder;
    /* border-bottom: 3px solid var(--color-fondo4); */
    /* text-decoration: underline var(--color-fondo4); */
}
/* Fin Participa Movil */


/* Inicio Dona Movil */
.container__dona{
    min-height: 170vh;
    display: flex;
    /* display: inline-block; probando para que no se muevan los objetos */
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: var(--color-fondo-y-letra-blanco);
    padding: 0.1rem 0 6rem 0;
}

    /**-- .dona__explica{ --**/
.dona__explica .dona__explica-texto{
    margin: 5em 2em 1em 2em;
    line-height: 1.5;
    color: rgb(40, 92, 189);
    /* font-size: 1.6rem; */
    font-size: clamp(1.8em, 3.2vw, 5em);
    font-weight: bolder;
    text-align: center;
} 

.pulgar{ /*ese margin para centralos*/
    width: 70px;
    /* width: min(50vw, 20%); */
    margin: 0 auto 3em auto;
    display: block;
    /* margin: 0 7.5em 3em 7.5em; */
    /* animation: movimiento 4s linear infinite; */
}

.dona__explica .dona__explica-confianza{
    color: rgb(20, 17, 207);
    font-weight: bold;
    margin-bottom: 1em; 
    /* font-size: 1.2rem; */
    font-size: clamp(1.6em, 3.2vw, 5em);
    text-align: center;
}

/* .flecha__confianza{ */
     /*ese margin para centralos*/
    /* width: 50%; */
    /* width: 10%; */

    /* width: min(30vw, 10%); */
    /* margin: 0 auto 5em auto; */
    /* display: block; */
    /* padding: 0 7rem 3rem 7rem; */
    /* animation: movimiento 4s linear infinite; 
    @keyframes movimiento{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(30px);
        }
        100%{
            transform: translateY(0);
        }
    }
*/

.dona__enlaces{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 50px 0;
    /* background: rgba(255,255,255,1); */
    /* background: -moz-linear-gradient(0deg, rgba(190, 233, 179, 0.556) 0%, rgba(255,255,255,1) 100%); */
    /* background: -webkit-linear-gradient(0deg, rgba(190, 233, 179, 0.556) 0%, rgba(255,255,255,1) 100%); */
    background: linear-gradient(0deg, rgba(190, 233, 179, 0.556) 0%, rgba(255,255,255,1) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffdd5a",GradientType=1); */
}

    /**-- .caja__dona-enlaces{ --**/
.dona__enlaces-dentro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .paypal {  */
    /* width: 28px; */
    /* width: max(40, 10%); */
    /* width: min(40px, calc(20% + 100px));  */
    /* padding-top: 10px; */
    /* margin: 0 auto 0 auto; */
    /* display: block; */
/* } */

/* .kofi{ */
    /* width: min(60px, calc(20% + 100px));  */
    /* width: min(50vw, 25%); */
    /* width: 48px; */
    /* margin: 0 auto 0 auto; */
    /* display: block; */
/* } */

/* .patreon{ */
    /* width: min(30px, calc(20% + 100px));  */
    /* width: min(400vw, 20%); */
    /* width: 28px; */
    /* padding-top: 10px; */
    /* margin: 0 auto 0 auto; */
    /* display: block; */
/* } */

/* .texto__paypal, .texto__patreon, .texto__kofi{ */
    /* font-size: 1rem; */
    /* font-size: clamp(1em, 2.3vw, 3em); */
    /* font-weight: 700; */
    /* padding: 10px 0 0 0; */
    /* text-align: center; */
/* } */

/* .kofi__cuadra{
    padding-top: -10px;
} */
/* .texto__kofi{ */

    /* font-size: 1rem; */

    /* font-size: clamp(1em, 2.3vw, 3em); */
    /* font-weight: 700; */

    /* padding: 10px 0 0 0; */

    /* text-align: center; */
/* } */

.texto__mecenas h3{
    padding: 4rem 0;
}

.container__dona{
    padding: 0 0 9rem 0;
}

.container__dona, .texto__mecenas{
    /* height: 70vh; */
    /* position: flex; */
    /* align-content: center; */
    /* background-color: rgba(190, 233, 179, 0.556); */
    padding: 20px auto;
}

.texto__mecenas, .texto__mecenas-largo{
    text-align: center;
    font-size: clamp(1.4em, 2.5vw, 7em);
    /* font-size: 1.7rem; */
    color: rgb(242, 81, 81);
    line-height: 1.3;
    padding: 20px 25px;
}

.texto__mecenas-largo span{
    /* border-bottom: 3px solid var(--color-fondo2); */
    background-image: linear-gradient(100deg, var(--color-fondo2) 0%,  var(--color-fondo2) 100%);
    background-repeat: no-repeat;
    background-size: 100% .25em;
    background-position: 0 90%;
}
/* Fin Dona Movil */


/* Inicio Footer Movil */
.pie__contenedor{
    background-color: #222222;
    /* height: 120vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* bottom: 0; */
}

.mision__box{
    width: 90%;
    text-align: justify;
    padding: 3rem auto;
}

.mision{
    color: var(--color-fondo1);
    /* padding: 1rem; */
    text-align: justify;
    font-weight: bolder;
    line-height: 1.5;
    font-size: clamp(1.4em, 1.5vw, 1.6em);
    /* font-size: 1.7rem; */
    /* font-size: clamp(1.4em, 1.6vw, 1.8em); */
    padding: 4rem 1rem 0 1rem;
}

.terminos{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.terminos__y--profe{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: var(--color-letra-amarillo);
}

.terminos__de--servicio, .profe__que{
    padding: 2em 0;
    font-size: 1.4rem;
    /* font-size: clamp(1.1em, 1.1vw, 1.5em); */
    text-decoration: none;
    text-align: center;
}

.terminos__de--servicio:hover,
.terminos__de--servicio:active{
    color: var(--color-fondo3);
    transform: rotate(-2deg); /* rota la palabra */

}

.profe__que span:hover,
.profe__que span:active{
    color: var(--color-fondo-y-letra-blanco);
    transform: rotate(-2deg); /* rota la palabra */
    /* font-weight: 600; */
}

.terminos__de--servicio{
    color: var(--color-fondo-y-letra-blanco);
}

.profe__que{
    color: var(--color-fondo3);
    padding-top: 3em;
}

.terminos__creative{
    /* width: 90%; */
    font-size: 0.69rem;
    text-align: center;
    padding-top: 2rem;
}

.terminos__creative p{
    font-weight: 200;
    /* letter-spacing: 0.1rem; */
    color: var(--color-fondo-y-letra-gris);
    padding-bottom: 4rem;
}

.terminos__creative a{
    text-decoration: none;
    color: var(---color-fondo-y-letra-gris);
}

.terminos__creative img{
    width: 8em;
}

.terminos__creative a:hover,
.terminos__creative a:active{
    color: var(--color-fondo-y-letra-blanco);
}

.audiovisual__box{
    width: 90%;
    text-align: center;
    border-top: solid 1px var(--color-footer2);
    padding-bottom: 2rem;
}

.audiovisual__texto{
    padding: 1.5rem 0 1rem 0;
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-gris);
    opacity: 0.9;
}

.audiovisual__texto span{
    /* font-size: 1.2rem; */
    font-size: clamp(0.8em, 1.2vw, 1.5em);

}

.audiovisual__box a{
    text-decoration: none;
}

/* .audiovisual__total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.audiovisual__instagram span{
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-blanco);
    font-weight: bold;
    /* color: var(--color-fondo-y-letra-gris); */
    /* opacity: 0.5; */
}

.audiovisual__instagram span:hover,
.audiovisual__instagram span:active{
    color: var(--color-letra-amarillo);
}

/* .boton__instagram--blog:hover,
.boton__instagram--blog:active{
    color: var(--color-letra-amarillo);
} */

/* .boton__instagram--svg--blog:hover,
.boton__instagram--svg--blog:active{ 
    color: var(--color-letra-amarillo);
} */

/* Fin Footer Movil */


@media screen and (min-width: 404px){
    .flechas{
        height: 12vh; /* distancia de arriba hacia abajo */
    }
}

@media screen and (min-width: 767px) {
/* Sección cabecera */
/* sub seccion de márgenes*/
.margen__arriba--abajo{    /* ojo no existe ¿? */
    padding: 2rem 0 3rem 0;
    }

.columnas__margen--arriba--abajo{
    padding: 2rem 0 3rem 0;
    }

.enunciados__margen--arriba--abajo{
    padding: 4rem 0;
    }

/* Sección cabecera */
.cabecera__titulo--inicio h1{
    margin-top: 125px;
    }

.frase__cabecera{    
    padding: 3em 0 0 0;
    }

.flechas{
    margin-top: 8rem;
    }

/* Inicio Presentación encuentra: lupa + texto */

/* .presentacion__encuentra img{ */
.presentacion__contenedor{
    display: flex;
    padding: 0 10px;
    flex-direction: row;
    align-items: center;
    }

.presentacion__lupa{
    width: 45%;
    }

.presentacion__lupa img{
    width: min(350px, calc(30% + 100px)); 
    }

.presentacion__texto{
    width: 55%;
    }

.presentacion__texto h3{ 
    /* está combinada con texto en estilos.css */
    text-align: center;
    font-size: clamp(2.6, 5.8vw, 6em);
    color: #C10000;
    line-height: 1.2;
    }
/* Fin Presentación encuentra: lupa + texto */

/* Sección 4 columnas + boton */
.svg1, .svg2, .svg3, .svg4{ 
    /*quité width de estas imágenes en html*/
    margin: 1.1em auto 3em auto;
    }


/* Sección Conceptos / Enunciados base */
.enunciados__titulo{
    padding: 7.5rem 0 1rem 0;
    }

.enunciados__base{
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
    
/* Sección Somos profesores */
.somos__caja{
    height: 75vh;
    padding: 3.5em 0 10% 0;
    }

/* Sección Interrogantes de los estudiantes */
/* estos nombres. interrogante__solo... al agrandar pantalla se desajustan. Por eso tienen @media */
.interrogante__solo--tienes{
    padding: 30px 0 0 0;
    }

.interrogante__solo--precisas{
    padding: 15px 0 0 0;
    }

.interrogante__solo--quieres{
    padding: 5px 0 0 0;
    }

.interrogante__solo--necesitas{
    margin: 16px 0 0 0; 
    }
/* Fin Seccion Interrogantes */
    

/* Inicio Blog Landscape*/
.contenedor__blog{
    height: 90vh; /*para aplicar flexbox*/
}

.disfrutamos__blog{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.disfrutamos__blog .izq{
    /* display: inline-block; */
     /*mejora la distancia entre el botón y la últ línea pero es necesario mejoarar lo stamaños de letras y distancia */
    width: 50%;
    /* min-height: fit-content; */
    /* min-height: 100vh; */
    /* padding: 70px 0 150px 0; */
     /*solo se coloca acá en el lado izq, al derecho no se le coloca */
    /* margin-top: -65px; para tapar desborde izq arriba */
}

.disfrutamos__blog .der{
    /* padding: 10px 0 0 0; */
    /* background: url(/img/imgProfe6.jpg); */
    /* ackground: url(../img/imgProfe6.jpg); */
     /* aquí en CSS la img va con ../ */
    /* background-size: cover; */
    /* background-position: center; */
    /* width: 100%; */
    width: 50%; /* para width: 1200px
    min-height: 100vh;
    /* margin-top: 5.5rem; */
}

.disfrutamos__blog .izq .resaltaBlog {
    font-weight: bolder;
}

.disfrutamos__blog .izq .articulos{
    line-height: 3.1rem;
}

.disfrutamos__blog .izq .articulos-semanal{
    /* line-height: 2.7rem; */
    margin-bottom: 3rem;
    /* padding-bottom: 1em; */
}
/* Fin Blog Landscape */


/* Sección Glosario */
.container_glosario{
    min-height: 150vh;
    padding-top: 300px;
    }

.partes_glosario .text-circle{ /* círculo morado con texto */
    top: 16em;
    left: 6em;
    width: 16.5em;
    height: 16.5em;
    }

.partes_glosario .text-circle h6{ /* letras de tienes dudas con... */
    font-size: 1.3em;
    margin-top: 3.5em; 
    margin-bottom: 2em;
    }

.partes_glosario .text-circle a{   /* forma botón entra aquí  */
    font-size: 1.1em;
    }

    /*** colocado en responsive para pantallas con cursor-PCs
.partes_glosario .text-circle a:hover{
    border: 2px var(--color-fondo1) solid;
    color:  var(--color-fondo2); 
    background: var(--color-fondo-y-letra-blanco);
}*/

    /*** colocado para pantallas sin cursor-celulares ***/

.partes_glosario .text-circle a:hover{
    border: 2px var(--color-fondo-y-letra-blanco) solid;
    color:  var(--color-fondo2);
    background: var(--color-fondo-y-letra-blanco);
    }

    /* STEP 3     */
    /* Wrap the text into a circle using a radial gradient as the shape-outside' Value */
.container_glosario .text-circle span:before, span:after{ 
    /* content: ""; */
    width: 45%;
    height: 95%;
    }

.text-circle span:before{ 
    /* float: left; */
    shape-outside: radial-gradient(
        farthest-side at 105%,
        transparent 105%,
        #fff);
    }

.text-circle span:after{
    /* float: right; */
    shape-outside: radial-gradient(
        farthest-side at 1%,
        transparent 101%,
        #fff);
    }

    /* STEP 4 */
    /* Imagen ppal con círculo */
.partes_glosario .img{
    width: 27.5em;
    height: 27.5em;
    }

    /* STEP 5 */
    /* Circle and ring decoration */
.partes_glosario .circle{
    left: -95px;
    width: 66%;
    height: 66%;
    }

.container_glosario .partes_glosario .ring{
    top: -4.5em;
    right: -85px;
    border: 20px var(--color-fondo4) solid;
    width: 66%;
    height: 66%;
    }

    /* Separa glosario de particpa - hr */
.separador__glosario--index{
    margin: 3.5em auto 3rem auto;
    }
    
    /***** Dona *****/
.container__dona{
    min-height: 171vh;
    padding: 0.2rem 0 9.5rem 0;
    }

        /**-- .dona__explica{ --**/
.pulgar{ /*ese margin para centralos*/
    /* width: min(9vw, 20%); */
    width: 100px;
    }



/* Inicio Footer Landscape */
.pie__contenedor{
    height: 90vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    }

.mision__box{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0 3rem 0;
    }

/* .xmision__box p{
    width: 90%;
} */

.mision{
    padding: 1rem;
    /* font-size: 2rem; */
    /* font-size: 1.4rem; */
    font-size: clamp(1.2em, 1.8vw, 2.1em);
}

/* .terminos{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.terminos__y--profe{
    /* width: 70%; */
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 1rem 0;
    /* color: var(--color-letra-amarillo); */
    }

.terminos__de--servicio, .profe__que{
    padding: 1em;
    font-size: 1.5rem;
    /* text-decoration: none; */
    }

/* .terminos__de--servicio{
    color: var(--color-fondo-y-letra-blanco);
} */

/* .xprofe a{ */
    /* color: var(--color-letra-amarillo); */
    /* text-align: center; */
    /* margin: 50px auto; */
/* } */

/* .profe__que{
    color: var(--color-fondo3);
} */

.terminos__creative{
    width: 70%;
    font-size: 0.79rem;
    /* text-align: center; */
    /* padding-top: 2rem; */
    }

.terminos__creative p{
    /* font-size: 0.7rem; */
    /* font-weight: 100; */
    /* color: var(--color-fondo-y-letra-gris); */
    padding-bottom: 0.1rem;
    }

/* .terminos__creative a{
    font-size: 0.7rem;
    text-decoration: none;
    color: var(---color-fondo-y-letra-gris);
} */

.terminos__creative img{
    width: 7em;
    }

.audiovisual__box{
    width: 70%;
    /* text-align: center; */
    /* border-top: solid 1px var(--color-footer2); */
    padding-bottom: 0.5rem;
    }

.audiovisual__total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .audiovisual__texto{ */
    /* padding: 2rem 0 1rem 0; */
    /* color: var(--color-letra-amarillo); */
    /* color: var(--color-fondo-y-letra-gris); */
    /* opacity: 0.9; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* align-self: center; */
    /* justify-self: center; */
/* } */

/* .audiovisual__texto span{
    font-size: 1.2rem;
} */

/* .audiovisual__box a{
    text-decoration: none;
} */

/* .audiovisual__instagram span{
    color: var(--color-fondo-y-letra-blanco);
} */

/* Fin Footer Landscape */
}