/* Inicio Dona Movil */
.cabecera__somos{
    min-height: 170vh;
    display: flex;
    /* display: inline-block; probando para que no se muevan los objetos */
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: var(--color-fondo-y-letra-blanco);
    padding: 0.1rem 0 6rem 0;
    background-color: var(--color-fondo3);
}

/***** Inicia Cabecera Términos *****/
.logo__nav--cabecera{
    padding: 1.15rem 0 0 1.5rem; /*em toma al padre más cercano, rem toma al root o body */
    /* padding: 1.25rem 0 0 1.5rem; */
    /* padding: 0.7rem 0 0 1rem; */
     /*em toma al padre más cercano, rem toma al root o body */
    /* font-size: clamp(1.3rem, 2.2vw, 2.9rem); */
     /* permite adaptar 3 tamaños de font en el viewport */
    font-size: clamp(1.3rem, 2.9vw, 2rem); /* permite adaptar 3 tamaños de font en el viewport */
    font-weight: bold;
    color: var(--color-fondo-y-letra-blanco);
    text-shadow: -2px -3px 10px var(--color-fondo-y-letra-negro);
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
/* Fin Cabecera */

/* Inicio Somos profesores Movil */
.somos__caja{
    background: url(../img/imgProfe5.jpg); /* aquí en CSS la img va con ../ */
    background-attachment: fixed;
     /* ojo ver si al quitar fixed de al lado del url en background, va con attachment y no con image*/
    background-image: fixed; 
    background-size: cover;
    /* min-height: clamp(90vmax, 130vh, 190vh); */
    /* aún corregir en caliente */
    /* display: flex; */
    /* align-items: center; */
    /* min-height: 130px;  */
    min-height: 110vh;
    /* display:inline-table; */

/* alínea verticalmente con display: flex y align-items: center; */
    /* display: flex; */
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */

    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center; */

    /* padding: 1rem; */
    /* padding: 5rem 1rem 0 1rem; */
    /* display: grid; */
    /* place-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
    /* display: inline-block; */
    /* place-self: center; */

    /* position: relative; */
    /* padding: 1rem 0 1rem 0; */
    padding: 3em 0 1em 0;
}

.somos__profes{  /* ojo se ensancha al crecer el viewport */
    /* position: absolute;  */
    padding: 0.5rem;
    /* padding: 1rem 0 1rem 0; */
    /* margin: 2% 0; */

    /* top: 40%; */
/* margin-top: -100px; */
    /* left: 20%; */

    display: flex;
    /* align-items: center; */
    justify-content: center;

    /* width: 80%; */
    /* height: 70%; */
    /* padding: 50% auto 15% auto; */

    /* justify-content:space-evenly;
        /* probando pxq se desborda hacia abajo*/
    /* padding: 6rem 1.5rem 3.5vh 1.5rem; */
    /* padding: 2rem 0 0 0; */
    /*ancho de la caja con frase */
    
}

.contenido__profesores{
    border-radius: 30px;
    background-image: linear-gradient(180deg, var(--color-fondo3b) 0%, var(--color-fondo1b) 100%);
        /* background-color: rgba(126, 240, 128, 0.568); */
    /* background-color: var(--color-fondo-y-letra-cuatro); */
    /* box-shadow: 4px 4px 4px 4px rgba(207, 216, 214, 0.863), 1px 1px 1px 1px rgba(79, 93, 105, 0.698); */
    box-shadow: 4px 4px 4px 4px rgba(126, 235, 99, 0.563), 1px 1px 0px 1px rgba(255, 222, 90, 0.571);
    /* text-shadow: 0.1288rem 0.1288rem  #000; */
    text-shadow: 5px 5px 5px #000;
    letter-spacing: 1px;
    line-height: 1.2;
    /* background-color: rgba(255, 221, 90, 0.698); */
    /* box-shadow: 4px 4px 4px 4px rgba(255, 222, 90, 0.863), 1px 1px 1px 1px hsla(48, 100%, 68%, 0.698); */
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-blanco);
    text-align: center;
    /* font-size: 1.6em; */
    font-size: clamp(1.4rem, 4vw, 3.4rem);
    /* font-size: clamp(1.7em, 5.8vw, 3.2em); */
    padding: 0.5em 1em;
    width: 85%;
    /* margin: 1em; */
    /* padding: 0.9rem 0.9rem 0.9rem 0.9rem; */
}

.contenido__profesores span{
    /* text-decoration: underline var(--color-letra-amarillo); */
    /* border-bottom: 3.5px solid var(--color-letra-amarillo); */
    /* background-image: linear-gradient(100deg, var(--color-letra-blanco) 0%,  var(--color-fondo2) 100%); */
    background-image: linear-gradient(100deg, var(--color-fondo2) 0%,  var(--color-fondo2) 25%, var(--color-fondo2) 50%);
    /* background-image: linear-gradient(100deg, var(--color-letra-amarillo) 25%, var(--color-letra-amarillo) 50%); */
    background-repeat: no-repeat;
    background-size: 100% .3em;
    background-position: 0 90%;
    /* color: var(--color-fondo-y-letra-gris); */
    /* text-shadow: 5px 5px 5px #000; */
    /* text-shadow: 0.1288rem 0.1288rem 1px #000; */
    /* text-shadow: 5px 5px 5px var(--color-fondo2); */
}
/* Fin Somos profesores Movil */


/* Inicio Footer Movil */
.pie__contenedor--proyecto{
    background-color: #222222;
    /* height: 120vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mision__box--proyecto{
    width: 90%;
    text-align: justify;
    padding: 3rem auto;
}

.mision__proyecto{
    color: var(--color-fondo1);
    /* padding: 1rem; */
    text-align: justify;
    font-weight: bolder;
    line-height: 1.5;
    font-size: clamp(1.4em, 1.5vw, 1.6em);

    /* font-size: 1.7rem; */
    /* font-size: clamp(1.4em, 1.6vw, 1.8em); */
    padding: 4rem 1rem 0 1rem;
}

.terminos__proyecto{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.terminos__y--profe--proyecto{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: var(--color-letra-amarillo);
}

.terminos__de--servicio--proyecto, .profe__que--proyecto{
    padding: 2em 0;
    font-size: 1.4rem;
    /* font-size: clamp(1.1em, 1.1vw, 1.5em); */
    text-decoration: none;
    text-align: center;
}

.terminos__de--servicio--proyecto{
    color: var(--color-fondo-y-letra-blanco);
}

.profe__que--proyecto{
    color: var(--color-fondo3);
    padding-top: 3em;
}

.terminos__creative--proyecto{
    /* width: 90%; */
    font-size: 0.69rem;
    text-align: center;
    padding-top: 2rem;
}

.terminos__creative--proyecto p{
    font-weight: 200;
    /* letter-spacing: 0.1rem; */
    color: var(--color-fondo-y-letra-gris);
    padding-bottom: 4rem;
}

.terminos__creative--proyecto a{
    text-decoration: none;
    color: var(---color-fondo-y-letra-gris);
}

.terminos__creative--proyecto img{
    width: 8em;
}

.audiovisual__box--proyecto{
    width: 90%;
    text-align: center;
    border-top: solid 1px var(--color-footer2);
    padding-bottom: 2rem;
}

.audiovisual__texto--proyecto{
    padding: 1.5rem 0 1rem 0;
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-gris);
    opacity: 0.9;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* align-self: center; */
    /* justify-self: center; */
}

.audiovisual__texto--proyecto span{
    /* font-size: 1.2rem; */
    font-size: clamp(0.8em, 1.2vw, 1.5em);
}

.audiovisual__box--proyecto a{
    text-decoration: none;
}

/* .audiovisual__total--proyecto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.audiovisual__instagram--proyecto span{
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-blanco);
    font-weight: bold;
    /* color: var(--color-fondo-y-letra-gris); */
    /* opacity: 0.5; */
}

.audiovisual__instagram--proyecto span:hover,
.audiovisual__instagram--proyecto span:active{
    color: var(--color-letra-amarillo);
}
/* Fin Footer Movil */





@media screen and (min-width: 767px) {

/* Sección Somos profesores */
.somos__caja{
    height: 75vh;
    padding: 3.5em 0 10% 0;
    }

/* Inicio Footer Landscape */
.pie__contenedor--proyecto{
    height: 90vh;
    }

.mision__box--proyecto{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0 3rem 0;
    }

.mision__proyecto{
    padding: 1rem;
    font-size: clamp(1.2em, 1.8vw, 2.1em);
    }

.terminos__y--profe--proyecto{
    flex-direction: row;
    margin: 1rem 0;
    }

.terminos__de--servicio--proyecto, .profe__que--proyecto{
    padding: 1em;
    font-size: 1.5rem;
    }

.terminos__creative--proyecto{
    width: 70%;
    font-size: 0.79rem;
    }

.terminos__creative--proyecto p{
    padding-bottom: 0.1rem;
    }


.terminos__creative--proyecto img{
    width: 7em;
    }

.audiovisual__box--proyecto{
    width: 70%;
    padding-bottom: 0.5rem;
    }

.audiovisual__total--proyecto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
}
/***** Fin Footer Landscape *****/
