.body__terminos{
    background-color: var(--color-fondo3);
}
    
/***** Inicia Cabecera Términos *****/
.logo__nav--terminos{
    padding: 1.25rem 0 0 1.5rem; /*em toma al padre más cercano, rem toma al root o body */
    /* padding: 1.25rem 0 0 1.5rem; */
    /* padding: 0.7rem 0 0 1rem; */
     /*em toma al padre más cercano, rem toma al root o body */
    /* font-size: clamp(1.3rem, 2.2vw, 2.9rem); */
     /* permite adaptar 3 tamaños de font en el viewport */
    font-size: clamp(1.3rem, 2.9vw, 2rem); /* permite adaptar 3 tamaños de font en el viewport */
    font-weight: bold;
    color: var(--color-fondo-y-letra-blanco);
    text-shadow: -2px -3px 10px var(--color-fondo-y-letra-negro);
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/***** Contenido *****/
.terminos__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 4rem auto;
}
    
.card__legal{ /* tamaño y posición de la imagen del mazo */
    width: 35rem;
    height: 15rem;
    position: relative;
    background: url(../img/imgLegal.jpg) center;
    background-size: cover;
    border-radius: 18px;
    box-shadow: #000 0px 11px 15px 0px;
    opacity: 0.9;
}

.card__legal .overlay{ /* características del font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    text-shadow: 3px 3px #000;
    font-size: clamp(2rem, 4.5vw, 5rem);
    color: var(--color-letra-amarillo);
}

/* .contenedor__terminos{
} */
.contenedor__legales{
    position: relative;
    display: grid;
    grid-template: 
    "terminos" auto
    "aviso" auto
    "cookies" auto
    "privacidad" auto
    "descargo" auto
    / 500px;
    /* background: rgb(115, 230, 176); */
    font-size: clamp(1.3em, 1.8vw, 2em);
    /* background: #000; */
    /* background-color: var(--color-fondo3); */
}

.listado__terminos--caja li{
    list-style-type: none;
}

.listado__terminos--caja a{ /* en li y a en solitario elimina el subrayado */
    text-decoration: none;
}

.listado__terminos--caja{
    /* width: 350px; esto es para que no sea más ancho el espacio, pero se desborda, por eso lo quito */
    /* position: static; */
    /* top: 550px; */
    /* bottom: 0; */
    /* left: 0; */
    display: grid;
    position: sticky;
    top: 0;
    height: 250px;
    grid-area: terminos;
    background: var(--color-fondo3);
    /* padding: 1rem; */
}

.listado_terminos--caja:checked ~ .listado_terminos--caja{
    color: var(--color-fondo-y-letra-negro);
    background: #fff;
}

.caja__color{
    display: block;
    width: 90%;
    color: var(--color-fondo-y-letra-negro);
    /* color: var(--color-fondo-y-letra-blanco); */
    font-size: clamp(1em, 1.5vw, 1.5em);
    /* height: 5vh; */
    margin: 10px;
    padding: 10px 10px 10px 20px;
    border-radius: 9px;
    box-shadow: 5px 5px 10px #000;
    background: var(--color-fondo1);
}

.caja__color:hover,
.caja__color:active{
    background: var(--color-fondo2);
    /* color: var(--color-fondo-y-letra-negro); */
    color: var(--color-fondo-y-letra-blanco);
    /* transition: opacity 1s; ¿? */
    transform: rotate(-1deg);
    transition: .4s transform;

}

.listado__terminos--fondo{
    /* background: var(--color-fondo3); */
    margin-left: -2.1rem;
    height: 150px;
}

.enunciados__legales-1, .separa__titulos span{
    padding-top: 1em;
}

.enunciados__legales--aviso{
    grid-area: aviso;
    /* background: rgb(187, 120, 120); */
    margin: -0.2rem 1rem 1rem 1.8rem;
}

.enunciados__borde--color{
    /* border-left: 1px solid var(--color-fondo-y-letra-gris); */
    background-color: var(--color-fondo2);
    border-radius: 20px;
    padding: 0 30px 30px 30px;

}
.enunciados__legales--cookies{
    grid-area: cookies;
    /* background: rgb(51, 67, 77); */
    margin: -1rem 1rem 1rem 1.8rem;
}

.enunciados__legales--privacidad{
    grid-area: privacidad;
    /* background: rgb(235, 143, 215); */
    margin: -1rem 1rem 1rem 1.8rem;
}

.enunciados__legales--descargo{
    grid-area: descargo;
    /* background: rgb(62, 128, 190); */
    margin: -1rem 1rem 1rem 1.8rem;
}

/* .enunciados__legales--footer{
    grid-area: footer;
    background: rgb(62, 128, 190);
    margin: -1rem 1rem 1rem 1.8rem;
} */

.enunciados__h1{
    text-align: justify;
    /* color: var(--color-fondo2); */
    color: var(--color-fondo-y-letra-blanco);
    text-shadow: 3px 3px 10px var(--color-fondo2);
}

.enunciados__h1 strong{
    /* border-bottom: 3px solid var(--color-fondo2); */
    background-image: linear-gradient(100deg, var(--color-fondo3) 0%,  var(--color-fondo3) 100%);
    /* background-image: linear-gradient(100deg, var(--color-fondo-y-letra-blanco) 0%,  var(--color-fondo-y-letra-blanco) 100%); */
    background-repeat: no-repeat;
    background-size: 100% .25em;
    background-position: 0 90%;
}

.listas__ordenadas{
    padding: 0 2em;
}

.enunciados__legales-1{
    /* margin: 1rem; */
    text-align: justify;
}

.enunciados__legales-1 span{
    font-size: 0.8em;
    font-weight: 600;
}

.enunciados__legales-1 li{
    /* font-size: 1rem; */
    /* font-size: clamp(1.3em, 3vw, 3.5rem); */
    /* margin-bottom: 1.5em; */
    line-height: 2em; 
    text-align: justify;
}

.enunciados__legales-1 p{
    /* font-size: clamp(1.3em, 1.9vw, 3em); */
    /* font-size: 1rem; */
    line-height: 2em; 
    padding-bottom: 1em;

    /* margin-bottom: 1.5em; */
    text-align: justify;
}

.enunciados__legales-1 a{
    text-decoration: none;
    color: var(--color-fondo-y-letra-negro);
}

.enunciados__legales-1 a:active,
.enunciados__legales-1 a:hover{
    color: var(--color-fondo-y-letra-gris);
}

.corte__palabra{
    text-align: left;
    /* word-break: break-all; */
}

/* De aquí en adelante ajustar con puntos de referencia de styles */
/* sigue el Diseño para otros mobiles */
/* @media all and (max-width: 384px){
    .contenedor__legales{
        min-width: 5rem;
    }
} */

/* @media all and (max-width: 899px){
    .caja__color{
    }
} */


/* Inicio Footer Movil */
.pie__contenedor--terminos{
    background-color: #222222;
    /* height: 120vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mision__box--terminos{
    width: 90%;
    text-align: justify;
    padding: 3rem auto;
}

.mision__terminos{
    color: var(--color-fondo1);
    /* padding: 1rem; */
    text-align: justify;
    font-weight: bolder;
    line-height: 1.5;
    font-size: clamp(1.4em, 1.5vw, 1.6em);

    /* font-size: 1.7rem; */
    /* font-size: clamp(1.4em, 1.6vw, 1.8em); */
    padding: 4rem 1rem 0 1rem;
}

.terminos__terminos{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.terminos__y--profe--terminos{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: var(--color-letra-amarillo);
}

.terminos__de--servicio--terminos, .profe__que--terminos{
    padding: 2em 0;
    font-size: 1.4rem;
    /* font-size: clamp(1.1em, 1.1vw, 1.5em); */
    text-decoration: none;
    text-align: center;
}


.terminos__de--servicio--terminos:hover,
.terminos__de--servicio--terminos:active{
    color: var(--color-fondo3);
    transform: rotate(-2deg); /* rota la palabra */
}

.profe__que--terminos span:hover,
.profe__que--terminos span:active{
    color: var(--color-fondo-y-letra-blanco);
    transform: rotate(-2deg); /* rota la palabra */
    /* font-weight: 600; */
}

.terminos__de--servicio--terminos{
    color: var(--color-fondo-y-letra-blanco);
}

.profe__que--terminos{
    color: var(--color-fondo3);
    padding-top: 3em;
}

.terminos__creative--terminos{
    /* width: 90%; */
    font-size: 0.69rem;
    text-align: center;
    padding-top: 2rem;
}

.terminos__creative--terminos p{
    font-weight: 200;
    /* letter-spacing: 0.1rem; */
    color: var(--color-fondo-y-letra-gris);
    padding-bottom: 4rem;
}

.terminos__creative--terminos a{
    text-decoration: none;
    color: var(---color-fondo-y-letra-gris);
}

.terminos__creative--terminos img{
    width: 8em;
}

.audiovisual__box--terminos{
    width: 90%;
    text-align: center;
    border-top: solid 1px var(--color-footer2);
    padding-bottom: 2rem;
}

.audiovisual__texto--terminos{
    padding: 1.5rem 0 1rem 0;
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-gris);
    opacity: 0.9;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* align-self: center; */
    /* justify-self: center; */
}

.audiovisual__texto--terminos span{
    /* font-size: 1.2rem; */
    font-size: clamp(0.8em, 1.2vw, 1.5em);
}

.audiovisual__box--terminos a{
    text-decoration: none;
}

.audiovisual__total--terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.audiovisual__instagram--terminos span{
    /* color: var(--color-letra-amarillo); */
    color: var(--color-fondo-y-letra-blanco);
    font-weight: bold;
    /* color: var(--color-fondo-y-letra-gris); */
    /* opacity: 0.5; */
}

.audiovisual__instagram--terminos span:hover,
.audiovisual__instagram--terminos span:active{
    color: var(--color-letra-amarillo);
}
/* Fin Footer Movil */


@media all and (max-width: 333px){
    /* .corte__palabra{ */
        /* text-align: left; */
        /* word-break: break-all; */
    /* } */


    /* ## el siguiente es una prueba para subir Aviso Legal en mobile */
    /* .enunciados__legales-1{
        padding-top: -2em;
    } */

    .listado__termino--fondo{
        margin-left: -0.1rem; /* ojo verificar si se movió a la izq */
    }

    .enunciados__legales--aviso{
        /* margin-top: 50px; */
        padding-top: 150px;
    }

    .enunciados__legales--cookies{
        padding-top: 300px;
    }

    .enunciados__legales--privacidad{
        padding-top: 300px;
    }

    .enunciados__legales--descargo{
        padding-top: 300px;
    }
}

/* .contenedor__legales{ */
    /* max-width: 98%; */
    /* min-width: none; */
    /* display: grid; */
    /* gap: 10px; */
    /* grid-template: 
    "terminos" 50px
    "aviso" 100px
    "cookies" 100px
    "privacidad" 100px
    "descargo" 100px; */
    /*no funciona el grid*/
    /* background: rgb(115, 230, 176); */
    /* grid-column: 2; */
    /* grid-row: 1/-1; */
    /* align-self:flex-start; */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: auto auto; */
/* } */


    /*.listado__termino--caja{
        position: sticky;
        top: 0;
        height: 150px;
        grid-area: terminos;
        background: var(--color-fondo3);
        margin-left: -1.8rem;
        padding: 1rem;
    }
    
    .enunciados__legales--aviso{
        grid-area: aviso;
        margin: -1rem 1rem 1rem;
    }
    
    .enunciados__legales--cookies{
        grid-area: cookies;
        margin: -1rem 1rem 1rem;
    }
    
    .enunciados__legales--privacidad{
        grid-area: privacidad;
        margin: -1rem 1rem 1rem;
    }
    
    .enunciados__legales--descargo{
        grid-area: descargo;
        margin: -1rem 1rem 1rem;
    }
}     */
 


/* @media screen and (min-width: 575px) {
    .card{
        width: 25em;
        height: 15em;
}
} */
 /* ajusta la foto al tamaño del cuadrado */

/*    .card .overlay{
        font-size: 1.5em;
    }
    .nav__header-logo{
        font-size: 1.2rem;
        padding: 1.3em 0 0 2em;
    }
    .enunciados__legales{
        padding: 2em 5em 0 4.5em;
    }
    .enunciados__legales p{
        font-size: 1.6rem;
    }
    } */


@media all and (max-width: 383px){
    /* .contenedor__legales{
        display: flex;
        flex-direction: column;
        } */

    .enunciados__h1{
        text-align: center;
    }

    .listado__termino--fondo{
        height: 120px;
        /* margin-left: 0.1rem; */
    }
}    



@media all and (max-width: 599px){
    .contenedor__legales{
        display: flex;
        flex-direction: column;
    }

    .enunciados__h1{
        font-size: 5vmax;
    }

    .enunciados__borde--color{
        border-left: 0;
    }
    
    .listado__terminos--fondo{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .enunciados__legales--aviso{
        /* margin-top: 50px; */
        padding-top: 250px;
    }

    .enunciados__legales--cookies{
        padding-top: 250px;
    }

    .enunciados__legales--privacidad{
        padding-top: 250px;
    }

    .enunciados__legales--descargo{
        padding-top: 250px;
    }
}


    /* para la vista de tablets */
@media (min-width: 600px) {
.card__legal{ /* tamaño y posición de la imagen del mazo */
        /* object-fit: cover; */
        /* object-position: center; */
        width: 45rem;
        /* height: clamp(10rem, 20rem, 20rem); */
        height: 20rem;
}

.contenedor__legales{
    /* display: grid; */
    /* gap: 10px; */
    grid-template: 
    "terminos aviso" auto
    "terminos cookies" auto
    "terminos privacidad" auto
    "terminos descargo" auto 
    / 330px auto;
    /*no funciona el grid*/
    /* background: rgb(115, 230, 176); */
    /* grid-column: 2; */
    /* grid-row: 1/-1; */
    /* align-self:flex-start; */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: auto auto; */
}
}

@media screen and (min-width: 767px) {
/* Inicio Footer Landscape */
.pie__contenedor--terminos{
    height: 90vh;
    }

.mision__box--terminos{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0 3rem 0;
    }

.mision__terminos{
    padding: 1rem;
    font-size: clamp(1.2em, 1.8vw, 2.1em);
    }

.terminos__y--profe--terminos{
    flex-direction: row;
    margin: 1rem 0;
    }

.terminos__de--servicio--terminos, .profe__que--terminos{
    padding: 1em;
    font-size: 1.5rem;
    }

.terminos__creative--terminos{
    width: 70%;
    font-size: 0.79rem;
    }

.terminos__creative--terminos p{
    padding-bottom: 0.1rem;
    }


.terminos__creative--terminos img{
    width: 7em;
    }

.audiovisual__box--terminos{
    width: 70%;
    padding-bottom: 0.5rem;
    }

.audiovisual__total--terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
/***** Fin Footer Landscape *****/




/* para la vista de escritorio */
@media (min-width: 900px) {
.card__legal{
     /* tamaño y posición de la imagen del mazo */
    object-fit: cover;
    object-position: center;
    width: 60rem;
    height: clamp(10rem, 20rem, 20rem);
    height: 22rem;  }

/* .contenedor__legales{
    grid-template: 
    "terminos aviso aviso" auto
    "terminos cookies cookies" auto
    "terminos privacidad privacidad" auto
    "terminos descargo descargo" auto 
    / 375px auto auto;
} */
}
}
/* @media all and (min-width: 550px){
    .card{
        width: 19em;
        height: 11em;
    }
    .card .overlay{
        font-size: 4vmax;
    }
}

@media all and (min-width: 750px){
    .card{
        width: 35em;
    }
} */

/* el cuadro superior donde esta la pabras en amarilo se ensancha con 750px y no oye las dmas intsrucciones */
        /* height: 20em;
    }
    .card .overlay{
        font-size: 4.5vmax;
    }
}
    }

@media all and (min-width: 950px){
    .card{
        width: 35m;
        height: 20em;
    }
    .card .overlay{
        font-size: 5vmax;
    }
}

@media all and (min-width: 1400px){
    .card{
        width: 60em;
        height: 20em;
    }
    .card .overlay{
        font-size: 5.5vmax;
        margin: 0.35em;
         /* OJO verificar si funciona esta regla en el centrado vertical del título que está en amarillo */
    /* } */
/* }  */


/* .enunciados__enumerados{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase; 
    margin-bottom: 0.3em;
} */


/* Diseño para tabletas */ 
/* @media screen and (min-width: 767px) {
    .card{
        width: 32em;
        height: 19em; 
} ajusta la foto al cuadrado
    .card .overlay{
        font-size: 1.9em;
    }
    .enunciados__legales{
        padding: 2em 6em 0 5.5em;
    }
} */


/* @media screen and (min-width: 990px) {
    .card{
        width: 40em;
        height: 25em; 
} ajusta la foto al cuadrado
    .card .overlay{
        font-size: 2.4em;
    }
    .nav__header-logo{
        font-size: 1.5rem;
        padding: 1.3em 0 0.2em 2em;
        font-family:  'Roboto', sans-serif;
        font-family: 'Montserrat', sans-serif;;
    }
    .enunciados__legales{
        padding: 0.8em 2.2em 0 2em;
        font-size: 1.5em;
    }
    .enunciados__legales p{
        font-size: 1.7rem;
    }
} */

/* OJO REVISAR */
/* @media screen and (max-width: 1055px) and (max-width: 1119){ 
    .card{
        width: 42em;
        height: 26em; 
} ajusta la foto al cuadrado
    .card .overlay{
        font-size: 2.6em;
    }
    .nav__header-logo{
        font-size: 1.5rem;
        padding: 1.4em 0 0.3em 2em;
    }
    .enunciados__legales{
        padding: 0.9em 2.2em 0 2em;
        font-size: 1.5em;
    }
    .enunciados__legales p{
        font-size: 1.8rem;
    }
}  */

/* Diseño para laptops */ 
/* @media screen and (min-width: 1120px) {
    .card{
        width: 47em;
        height:28em; 
} ajusta la foto al cuadrado
    .card .overlay{
        font-size: 2.8em;
    }
    .nav__header-logo{
        font-size: 1.6rem;
        padding: 1.5em 0 0.5em 2.3em;
    }
    .enunciados__legales{
        padding: 1em 5.6em 0 5.5em;
    }
    .enunciados__legales p{
        font-size: 1.8rem;
    }
} */

/* Diseño para desktops */ 
/* @media screen and (min-width: 1240px) {
    .card{
        width: 49em;
        height: 29.5em; 
} ajusta la foto al cuadrado
    .card .overlay{
        font-size: 3em;
    }
    .nav__header-logo{
        font-size: 1.7rem;
        padding: 1.4em 0 0.5em 2.4em;
    }
    .enunciados__legales{
        padding: 2.8m 5.3em 0 5.3em;
    }
    .enunciados__legales p{
        font-size: 1.9rem;
    }
} */


/* Diseño para desktops XL */ 
/* @media screen and (min-width: 1366px) {
    .card{
        width: 53em;
        height: 30em; 
} ajusta la foto al cuadrado
    .card .overlay{
        font-size: 3.3em;
    }
    .nav__header-logo{
        font-size: 1.8rem;
        padding: 1.5em 0 0.4em 2.6em;
    }
    .enunciados__legales{
        padding: 2.9m 6.2em 0 6.1em;
    }
} */

/* #btn-mas{
    display: none;
} */

/* .container{
    position: fixed;
    bottom: 80px;
    right: 30px;
} */

/* .redes a, .icon-mas2{
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
    background: var(--color-fondo2);
    color: var(--color-fondo1);
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    transition: all 500ms ease;
} */

/* .redes a:hover{
    background: var(--color-fondo1);
    color: var(--color-letra-titulo);
} */

/* .redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
} */

/* #btn-mas:checked ~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
} */

/* .icon-mas2 {
    cursor: pointer;
    background: var(--color-fondo1);
    font-size: 1.2rem;
    color: var(--color-letra-titulo);
    font-weight: bold;
} */

/* #btn-mas:checked ~ .btn-mas .icon-mas2{
    transform: rotate(45deg);
    font-size: 1.2rem;
    font-weight: bold;
} */
